<main>
    <br>
    <div>
        <div *ngFor="let v of getVoyage()">
            <button type="button" class="btn btn-primary" (click)="reroute('editvoyage/'+v.id)"><span class="glyphicon glyphicon-chevron-left"></span>&Eacute;diter le voyage</button>
            <br>
            <h2>{{ v.nom }}</h2>
        </div><br>
        
        <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <div #gmap style="width:80%;height:400px"></div>
                    </div>
                </div>
            </div>
<br>

    </div>
</main>