<main>
    <br>
    <div class="container">

        <button type="button" class="btn btn-warning" (click)="reroute('')"><span class="glyphicon glyphicon-chevron-left"></span>Accueil</button>
        <br>
        <div *ngFor="let v of getVoyage()">
            <h3>{{ v.nom }}</h3>
        </div><br>

        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                <h3>
                    <div #gmap style="width:100%;height:400px"></div>
                </h3>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let voyage of getVoyage()" >
            <div *ngFor="let etape of voyage.etapes">
                <div (click)="reroute( 'etape/'+etape.id )">
                    <p>{{ etape.nomVille }}</p>    
                </div>
                <!--<ul *ngFor="let pt of etape.pointInteret">
                    <li>{{ pt.nom }}</li>
                    <li>{{ pt.description }}</li>
                </ul>-->
            </div>
        </div>

    </div>
</main>