<main>
    <br>
    <div class="container">
        <div *ngFor="let e of getEtape(idEtape)">
            <h2>{{ e.nomVille }}</h2>
            <p>{{ e.date }}</p>

            <div *ngIf="e.idSuivante != null">
                <button type="button" class="btn btn-primary" (click)="reroute( 'etape/'+e.idSuivante )">Etape suivante</button>
            </div><br>
            <button type="button" class="btn btn-warning" (click)="backward()">Revenir en arrière</button>
            <button type="button" class="btn btn-primary" (click)="center()">Centrer la carte</button>
        </div><br>

        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <div #gmap style="width:80%;height:400px"></div>
                </div>
            </div>
        </div>

        <br>
        <!-- Liste des points d'intérêts -->
        <h3>Point d'intr&eacute;r&ecirc;ts</h3>
        <div *ngFor="let e of getEtape()">
            <div *ngFor="let pi of e.pointInteret">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h5>{{ pi.nom }}</h5>
                    </div>
                    <div class="panel-body">
                        <p>{{ pi.adresse }}</p>
                        <p>{{ pi.description }}</p>
                    </div>
                </div>
                <button (click)="supprPointInteret(pi.id)" class="btn btn-danger">Supprimer</button>
            </div>
        </div>

        <div>
            <form (ngSubmit)="addPointInteret(newNomPI.value, newAdressePI.value, newDescriptionPI.value)" class="form-inline">
                <div class="form-group">
                    <input #newNomPI id="newNomPI" class="form-control" name="newNomPI" placeholder="Tour Eiffel" required>
                    <input #newAdressePI id="newAdressePI" class="form-control" name="newAdressePI" placeholder="Champ de Mars, 5 Avenue Anatole France, 75007 Paris, France" required>
                    <input #newDescriptionPI id="newDescriptionPI" class="form-control" name="newDescriptionPI" placeholder="Description" required>
                </div>
                <button type="submit" class="btn btn-primary">Ajouter un point d'int&eacute;r&ecirc;t</button>
            </form>
        </div>
        <br>

        <!--<div class="panel panel-primary article">
                    <div class="panel-heading detail" (click)="reroute( 'detail/'+a.getID() )">
                        <h3 align="center">{{ a.getLabel() }}</h3><br>
                    </div>
                    <div class="panel-body" (click)="reroute( 'detail/'+a.getID() )">
                        <img src="{{ a.getImage() }}" class="img-responsive rounded mx-auto d-block detail" alt="{{ a.getLabel() }}" />
                    </div>
                    <div class="panel-footer">
                        <h1 align="center" class="detail" (click)="reroute( 'detail/'+a.getID() )">${{ a.getPrix() }}</h1>
                        <p align="center"><button class="btn btn-primary" (click)="ajouterArticlePanierParID( a.getID() )">Ajouter au panier</button></p>
                    </div>
                </div>-->

    </div>
</main>