<main>
    <br>
    <div class="container">
        <div *ngFor="let e of getEtape()">
            <h3>{{ e.nomVille }}</h3>
            <p>{{ e.date }}</p>

            <div *ngIf="e.idSuivante != null">
                <div (click)="reroute( 'etape/'+e.idSuivante )">
                    <p>Etape suivante</p>
                </div>
            </div>


        </div><br>

        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <div #gmap style="width:80%;height:400px"></div>
                </div>
            </div>
        </div>

        <div>
            <!-- Liste des points d'intérêts -->
        </div>

    </div>
</main>