<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">
        <a style="color: #44c524" class="navbar-brand">RoadTrip Planner</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-link" *ngIf="isConnected()"><a (click)="logout()">Logout</a></li>
                <li class="nav-link" *ngIf="!isConnected()"><a (click)="reroute('auth')">Login</a></li>
            </ul>
        </div>
    </div>

</nav>

<div *ngIf="isConnected()">
    <nav class="navbar navbar-inverse navbar-fixed-left" style="float: left; width: 20%;">
        <div class="navbar-header">
            <div class="panel-group" id="accordion" >    
                <div *ngFor="let voyage of getVoyages()" class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{+voyage.id}}" (click)="reroute( 'redirect/voyage/'+voyage.id )" class="btn btn-primary btn-block">
                        {{ voyage.nom }}</a>
                    </h4>
                </div>
                <div id="collapse{{+voyage.id}}" class="panel-collapse collapse">
                    <div *ngFor="let etape of voyage.etapes" (click)="reroute( 'redirect/etape/'+etape.id )">
                        <p class="btn btn-warning btn-block">{{ etape.nomVille }}</p>    
                    </div>
                </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseNone" (click)="reroute( 'create')" class="btn btn-success btn-block">
                            Ajouter voyage</a>
                    </h4>
                    </div>
                    <div id="collapseNone" class="panel-collapse collapse">
                    </div>
                </div>
                
            </div>
        </div>
    </nav>
</div>

<div style="float: left; width: 80%;">
    <router-outlet></router-outlet>
</div>
